aiogram>=3.15.0
aiohttp>=3.10.0
python-dotenv==1.1.1
psutil==7.1.3
aiofiles>=23.2.1,<24.0.0
Pillow==11.2.1
PyMuPDF==1.26.5
yt-dlp>=2025.1.1
googletrans==4.0.0rc1
shazamio==0.8.1
rembg==2.0.67
onnxruntime==1.20.0